*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.flex-container{
    display: flex;
}

/* SITE SECTIONS */

header{
    width: 100%;
    height: 4rem;
    background-color: #0086ff;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
}


/* La width 60% la assegno al desktop size */
nav{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

section.demo{
    padding: 2rem;
}

/* Togliere le altezze fisse alla fine */
.cards{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: #b5ddff;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    
    .cards{
        flex-direction: row;
    }

    .card{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }

    .card-download{
        width: calc((100% / 3) * 2 - 2rem);
    }
}