*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-accent-color: #0086ff;
    --main-bg-color: #b5ddff;
    --secondary-accent-color: #9792e4;
    --secondary-bg-color: #9792e4;
}

/* UTILITIES */

/* Dare una min-width */
body{
    font-family:'PT Sans', sans-serif;
    min-width: 400px;
}

.flex-container{
    display: flex;
}

.flex-column{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.margin-bot-part{
    margin-bottom: 1.5rem;
}

li{
    display: inline-block;
    padding: 0 0.8rem;
}

/* SITE SECTIONS */

/* Header parts */
header{
    width: 100%;
    background-color: var(--main-accent-color);
    color: white;
    font-size: 1.2rem;
    padding: 1rem 0;
}

nav{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 0.5rem;
}

i.fa-bars{
    font-size: 2rem;
}

.nav-list{
    list-style-type: none;
    display: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
}

/* Main parts */
section.demo,
section.testimonials,
section.informations{
    padding: 2.5rem;
}

section.plan,
section.benefits,
section.up-footer{
    background-color: var(--secondary-bg-color);
    padding: 2.5rem;
}

section.down-footer{
    background-color: #333333;
    padding: 2.5rem;
}

/* Togliere le altezze fisse alla fine */

/* Demo part */
.demo .card{
    width: 100%;
    /* height: 550px; */
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: var(--main-bg-color);
}

.demo-text{
    width: 100%;
    height: 45%;
    border: 1px solid black;
    padding: 1rem 2.5rem;
}

.demo h3{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--main-accent-color);
}

.demo p{
    font-weight: bold;
    font-size: 1.1rem;
    color: #62788b;
}

.demo h4{
    display: inline-block;
}

.demo a{
    width: 50%;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    background-color: var(--main-accent-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 20px;
}

.demo-image{
    width: 100%;
    height: 55%;
    border: 1px solid black;
}

.demo-image img{
    height: 300px;
    width: 265px;
    display: block;
    margin: 0 auto;
}

.demo .icon-card{
    padding: 1.5rem 2rem;
    text-align: center;
}

.demo .icon-demo{
    font-size: 4rem;
    color: var(--main-accent-color);
}

/* Plans part */
.plan .card{
    width: 100%;
    height: 500px;
    margin-bottom: 2.5rem;
    border: 1px solid black;
}


/* Testimonials part */
.testimonials .card{
    width: 100%;
    height: 350px;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.card.testimony{
    background-color: #9792e4;
}


/* Benefits part */
.benefits .title{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.benefits .card{
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: white;
}

/* Informations part */
.informations .card{
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.get-started{
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
    border: 1px solid black;
    margin: 0 auto;
}

/* Footer parts */
.info-footer{
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    border: 1px solid white;
    margin: 0 auto;
}

/* RESPONSIVE */

/* Tablet version */
@media screen and (min-width: 768px) {
    
    .demo .cards,
    .benefits .cards,
    .informations .cards{
        flex-direction: row;
    }

    .demo .card{
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }

    .demo .card-download{
        width: calc((100% / 3) * 2 - 1rem);
    }

    .demo-image img{
        height: 100%;
        display: block;
        margin-left: 0;
    }

    .benefits .card{
        width: calc(100% / 2 - 2rem);
        margin: 1rem;
    }

    .informations .info-text{
        width: 70%;
    }

    .informations .info-profile{
        width: 30%;
    }

    .get-started,
    .info-footer{
        width: 450px;
    }
}

/* Desktop version */
@media screen and (min-width: 992px) {

    nav,
    .demo .container,
    .testimonials .container,
    .benefits .container,
    .informations .container{
        width: 940px;
        margin: 0 auto;
    }

    i.fa-bars{
        display: none;
    }

    .nav-list{
        display: block;
    }

    .demo .card{
        height: 300px;
    }

    .demo .card-download{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card-download .demo-text{
        width: 45%;
        height: 100%;
    }

    .demo a{
        width: 100%;
    }

    .card-download .demo-image{
        width: 55%;
        height: 100%;
    }

    .demo-image img{
        display: block;
    }

    .plan .container{
        width: 800px;
        margin: 0 auto;
    }

    .plan .cards{
        flex-direction: row;
    }

    .plan .card{
        width: calc(100% / 2 - 3rem);
        margin: 1rem 1.5rem;
    }

    .benefits .card{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }
}